{% extends 'base.html' %}
{% load wtf %}
{% block title %}Affirmation{% endblock %}

{% block content %}
<section id="formsection">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 mb-2">
        {{_('7_explain')}}
      </div>

      <div class="mt-4 col-md-12">
      {% include 'preview-img.html' %}
      </div>

      {% with redirect_url='ksvotes:vr.affirmation' %}
        {% include '_county-selector-card.html' %}
      {% endwith %}

    {% if clerk %}
      <div class="mt-4 col-md-8">
        <div class='card'>
          <div class='card-body'>
            <form name="step_7" id="step_7" method="POST" action="{% url "ksvotes:vr.affirmation" %}">
             <fieldset>
              <legend>{{_('7_legend')}}</legend>

              {% csrf_token %}

              {% checkbox_field form.affirmation help_text=_('7_affirm_help') required=True %}

              {% include 'form-buttons.html' with next_btn=_('btn_submit') %}

             </fieldset>
            </form>
          </div>
        </div>
      </div>
    {% endif %}
    </div>
  </div>
</section>
{% endblock %}

{% block js_footer %}
<script>
$(function () {
  //initialize form with parsley validation
  var form = $('#step_7');
  form.parsley()

  {% include 'change-county.js' %}
});

</script>
{% endblock %}
