{% extends 'base-form.html' %}
{% load wtf %}
{% block title %}Citizenship{% endblock %}

{% block form_content %}
<form id="step_1" name="step_1" method="POST" action="{% url "ksvotes:vr.citizenship" %}">
 <fieldset>
  <legend>{{_('1_legend')}}</legend>

  {% csrf_token %}
  {% boolean_field form.is_citizen help_text=_('1VR_citizen_help') required=True %}
  <div id="is-citizen-error" class="parsley-error parsley-errors-list mtn-075 mb-2" style="display:none">
    {{_('1VR_citizen_help')}}
  </div>
  {% boolean_field form.is_eighteen help_text=_('1VR_18_help') %}
  {% include 'form-buttons.html' %}

 </fieldset>
</form>
{% endblock %}

{% block js_footer %}
<script>
$(function () {
  //initialize form with parsley validation
  var $form = $('#step_1');
  $form.parsley();

  // handle the Required logic ourselves (too complex for Parsley)
  $('#btn-next').click(function(ev) {
    let is_citizen = $('#is_citizen');
    let error_msg = $('#is-citizen-error');
    error_msg.hide(); // always clear to start with.
    let curVal = '';
    $('#is_citizen input').each(function(idx, el) {
      let radio = $(el);
      if (radio.is(':checked')) {
        curVal = radio.val();
      }
    });
    if (!curVal || curVal == 'False') {
      // handle field invalidation manually because parsley does not catch it.
      error_msg.show();
      ev.preventDefault();
      return false;
    }
    return true;
  });
});
</script>
{% endblock %}
