{% extends 'base-form.html' %}
{% load wtf %}
{% block title %}Identification{% endblock %}

{% block form_content %}
<form name="step_5" id="step_5" method="POST" action="{% url "ksvotes:vr.identification" %}">
 <fieldset>
  <legend>{{_('5_legend')}}</legend>

  {% csrf_token %}

  <div class="mb-4"> {{_('5VR_id_shorthelp')}} </div>

  {% text_field form.identification help_text_key='5VR_id_shorthelp' required=True %}

  <div class="small"> {{_('5VR_id_help')}} </div>

  {% include 'form-buttons.html' %}

 </fieldset>
</form>
{% endblock %}

{% block js_footer %}
<script>
$(function () {
  //initialize form with parsley validation
  var form = $('#step_5');
  form.parsley()
});
</script>
{% endblock %}
