airtable
Django>4.0
bumpversion
django-db-geventpool
django-extensions
django-health-check
django-rest-auth
djangorestframework
djfernet
email_validator
environs[django]
formfiller
gevent
gunicorn
ksmyvoteinfo
newrelic
psycopg2-binary
pyusps
whitenoise
WTForms
wtforms-recaptcha
usaddress

# Logging
django-tracer
python-json-logger
structlog

# Celery
celery
redis

# Testing
black
django-bakery
django-test-plus
factory-boy
interrogate
pytest
pytest-cov
pytest-django
pytest-xdist

# Packaging
pip-tools
