airtable
Django>4.0
bumpversion
dateparser
django-db-geventpool
django-extensions
django-health-check
django-rest-auth
djangorestframework
djfernet
email_validator
environs[django]
formfiller
gevent
gunicorn
hiredis
kombu>=5.2.4
ksmyvoteinfo
marshmallow>=3.15
newrelic
psycopg2-binary
pyusps
redis
Wand
whitenoise
WTForms
wtforms-recaptcha
usaddress

# Logging
colorlog
request-id-django-log

# Testing
black
django-bakery
django-test-plus
factory-boy
interrogate
pytest
pytest-cov
pytest-django
pytest-xdist

# Packaging
pip-tools
