Django>4.0
bumpversion
django-db-geventpool
django-extensions
django-health-check
django-rest-auth
djangorestframework
email_validator
environs[django]
gevent
gunicorn
psycopg2-binary
whitenoise
WTForms
wtforms-recaptcha

# Logging
django-tracer
python-json-logger
structlog

# Celery
celery
redis

# Testing
black
django-bakery
django-test-plus
factory-boy
interrogate
pytest
pytest-cov
pytest-django
pytest-xdist

# Packaging
pip-tools
